/* ---------------------------------------------- Hero Image */
.hero-image {
    height: 80vh;
    background-color: black;
    min-height: 300px;
    min-width: 800px;
}


/* ---------------------------------------------- Info section (about/events) */

.about-anthony{
    min-height: 300px;
    background-color: blue;
    padding: 50px;
}

.upcoming-events{
    min-height: 300px;
    background-color: brown;
    padding: 50px;
}

/* ---------------------------------------------- Store */
.store{
    min-height: 300px;
    background-color: azure;
    padding: 50px;
}


/* ---------------------------------------------- Footer */

.footer {
    text-align: center;
}
