/* ---------------------------------------------- Navbar */
.navbar a {
    color: white;
}


/* ---------------------------------------------- Hero Image */
.hero-image {
    height: 80vh;
    background-color: black;
    min-height: 300px;
}


/* ---------------------------------------------- Info section (about/events) */

.about-anthony{
    min-height: 300px;
    background-color: #f8f9fa;
    padding: 50px;
}

.upcoming-events{
    min-height: 300px;
    background-color: #f2f2f2;
    padding: 50px;
}

/* ---------------------------------------------- Store */
.store{
    min-height: 300px;
    background-color: #878e96;
    padding: 50px;
}

.store-image {
    text-align: center;
}

/* ---------------------------------------------- Footer */

.footer {
    text-align: center;
}
